<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add New To Do Item</title>
  </head>
  <body>
    <form method="POST">
      Name: <br>
      <input type="text" name="name"></input> <br>
      Description: <br>
      <input type="text" name="description"></input><br>
      Completed: <input type="radio" name="completed" value="true">True
      <input type="radio" name="completed" value="false" checked="true">False <br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
