
<h3> ID: </h3> <%= todo._id %>
<h3> Name: </h3>
<p> <%= todo.name %> </p>
<h3>Description:</h3>
<p> <%= todo.description %> </p>
<h3>Completed:</h3>
<p> <%= todo.completed %> </p>
<button type="submit" onclick="location.href='/todos'">Okay</button>
