
<div class="panel panel-success col-md-offset-1 col-md-8">
<div class="panel-heading"> ID: <%= todo._id %> </div>
<div class="panel-body"> Name: <%= todo.name %> </div>
<div class="panel-body"> Description: <%= todo.description %> </div>
<div class="panel-body"> Completed: <%= todo.completed %> </div>
<button class="btn btn-primary" type="submit" onclick="location.href='/todos'">Okay</button>
</div>
